@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Roboto:ital,wght@1,500&display=swap');


:root{
 --orange:orange;
 --black:black;
 --light-color:#666;
 --box-shadow:0.5rem 1rem rgba(0,0,0.1);
 --border:.2rem solid rgba(0,0,0.1);
 --outline:.1rem solid rgba(0,0,0.1);
 --outline-hover:.5rem solid rgb(12, 1, 1);
    
}    
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition:all .2s linear;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:7rem;
}
body{
    background:cornsilk;
}
section{
    padding:20px 90px;
}
.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 9%;
    background:whitesmoke;
    box-shadow:var(--box-shadow);
}
.header .logo{
    font-size:2.5rem;
    font-weight:bolder;
    color:black;
}
.header .logo i{
    color:navy;
}
.header .navbar a{
    font-size:17px;
    margin:0 10px;
    color:black;
}
.header .navbar a:hover{
    color:blue;
}
.header .icons div{
    height:4.5rem;
    width:4.5rem;
    line-height:4.5rem;
    border-radius:.5rem;
    background:whitesmoke;
    color:black;
    font-size:2rem;
    margin-right:2rem;
    text-align:center;
    cursor:pointer;
}
.header .icons div:hover{
    background:blue;
    color:rgb(135, 111, 125);
}

.header .search-form{
position:absolute;
top:110%;
right:-110%;
width:500px;
height:50px;
background:white;
border-radius:.5rem;
overflow:hidden;
display:flex;
align-items:center;
/*box-shadow:var(--box-shadow);*/
}
.header .search-form.active{
    right:20px;
    transition:.4s linear;

}
.header .search-form input{
    height:100%;
    width:100%;
    background:none;
    text-transform:none;
    font-size:16px;
    color:var(--black);
    padding:0 15px;
}
.header .search-form label{
    font-size:22px;
    padding:15px;
    color:var(--black);
    cursor:pointer;
}
.header .search-form label:hover{
    color:rgb(73, 57, 178);
}
.header .shopping-cart{
    position: absolute;
    top:110%;
    right:-110%;
    padding:1rem;
    border-radius:5px;
    box-shadow: var(--box-shadow);
    width:35rem;
    background:whitesmoke;
}
.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}
.header .shopping-cart .box{
    display:flex;
    align-items:center;
    gap:1rem;
    position:relative;
    margin: 1rem 0;
    font-size:10px;
}
.header .shopping-cart .box img{
    height:10rem;
}
.height .shopping-cart .box .fa-trash{
    font: size 20px;
    position:absolute;
    top:50%;
    right:2rem;
    cursor:pointer;
    color:var(--light-color);
    transform: translateY(-50%);
} 
.header .shopping-cart .box .content h3{
color:var(--black);
font-size:17px;
padding-bottom:10px;
}
.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size:16px;
    }
    .header .shoping-cart .box .content .quality{
        padding-left:10px;
    }
    .header .shopping-cart .total{
        font-size:25px;
        padding:1rem 0;
        text-align:center;
        color:var(--black);
    }
    .heading{
        text-align:center;
        padding:20px 0;
        padding-bottom:30px;
        font-size:35px;
        color:black;
        }
    .heading  span{
            font-size: 35px;
            background: blue;
            color:rgb(238, 229, 229);
            display:inline-block;
            clip-path:polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
            padding:5px 30px;
    }    
    
    .btn{
        margin-top:10px;
        display:inline-block;
        padding:8px 30px;
        font-size:17px;
        border-radius:5px;
        border:2px solid rgb(105, 95, 95);
        color:lightslategray;
        cursor:pointer;
        background: none;
    }
    .btn:hover{
        background:blue;
        color:rgb(146, 157, 159);
       
    }
    .header .shopping-cart .btn{
        display:block;
        text-align:center;
        margin:1rem 0;
        justify-content: center;
    }

    .header .login-form{
        position:absolute;
        top:110%;
        right:-110%;
        width:35rem;
        box-shadow: var(--box-shadow);
        padding:2rem;
        border-radius:.5rem;
        background:whitesmoke;
        text-align:center;
        
    }
    .header .login-form.active{
        right:2rem;
        transition: .4s initial;
    }
    .header .login-form h3{
        font-size: 25px;
        text-transform:uppercase;
        color:black;
        text-decoration: underline;
    }
    .header .login-form .box{
       border-left:0;
       border-top:0;
       border-right:0;
       border-bottom:1px solid #999;
       width:100%;
       margin:3px 0;
       background:whitesmoke;
       border-radius: 5px;
       padding:10px 0;
       font-size:16px;
       color:black;
       text-decoration: none;
       text-transform: none;
       text-align: center;

    }
    .header .login-form p{
        font-size:14px;
        padding:5px 0;
        color:#666;
    }
    .header .login-form p a{
        color:blue;
        text-decoration: underline;
    }
    
    .home{
        display:flex;
        align-items:center;
        justify-content:center;
        background-image:url('1.jpg');
        background-repeat:no-repeat;
        
        background-position:center;
        background-size:100% 100%;
        padding-top:17rem;
         padding-bottom:10rem;
    }
    .home .content{
        text-align:center;
        width:60rem;

    }
    .home .content h3{
        color:white;
        font-size:25px;
    }
    .home .content h3 span{
        color:orangered;
    }
    .home .content p{
        color:bisque;
        font-size: 10px;
        padding:10px 0;
        line-height:2;
    }
    .features .container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));

    }
    .features .container .box{
        padding:30px 20px;
        background:whitesmoke;
        outline:gray;
        /*outline-offset: 0rem;*/
        text-align: center;
        border: 5px solid cornsilk;
        /*gap :10px cornsilk;*/
        overflow:auto;
    }
    .features .container .box:hover{
        outline:.2rem solid black;
        outline-offset: 0rem;
    }
    .features .container .box img{
        margin:1rem 0;
        height:15rem;
    }
    .features .container .box h3{
        font-size:25px;
        line-height:1.8;
        color:black;
    }
    .features .container .box p{
        font-size:15px;
        line-height:1.8;
        color:var(--light-color);
        padding:10px 0;
    }
    .product .p-slider{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
        margin-bottom:20px;
    }
    /*.product .p-slider:first-child{
        padding:10px;
    }*/
    .product .p-slider .box{
        background:whitesmoke;
        border-radius:5px;
        text-align:center;
        padding:30px 20px;
        outline-offset: -1rem;
        border: 10px solid cornsilk;
        outline:gray;
        gap: 1px cornsilk;
        /*transition: .2s linear;*/
    }
    .product .p-slider .box:hover{
        outline-offset: 0rem;
        outline:var(--outline-hover);
    }
    .product .p-slider .box img{
        
       margin:1rem 0;
        height:15rem;
    }
    .product .p-slider .box h3{
        font-size: 35px;
        color:black;
        line-height:1.8;
    }
    .product .p-slider .box .price{
        font-size:20px;
        color:gray;
        padding:50px 0;
    }
    .product .p-slider .box .stars i{
        font-size: 17px;
        color:rgb(88, 17, 239);
        padding:5px 0;
    }
    .categories .box-container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
       /* margin-bottom:20px;*/
    }
    .categories .box-container .box{
        background:whitesmoke;
        border-radius:5px;
        text-align:center;
        padding:30px 20px;
        outline-offset: -1rem;
        border: 10px solid cornsilk;
        outline:gray;
        gap: 1px cornsilk;
    }
    .categories .box-container .box .img{
        margin:1rem 0;
        height:15rem;
    }
    .categories .box-container .box h3{
        font-size: 35px;
        color:black;
        line-height:1.8;
    }
    .categories .box-container .box:hover{
        outline-offset: 0rem;
        outline:var(--outline-hover);
    }
    
    .categories .box-container .box p{
        font-size:20px;
        color:gray;
        padding:0;
    }
    .review .review-slider {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
       /* margin-bottom:20px;*/
    }
    .review .review-slider .box {
        background:whitesmoke;
        border-radius:5px;
        text-align:center;
        padding:30px 20px;
        outline-offset: -1rem;
        border: 10px solid cornsilk;
        outline:gray;
        gap: 1rem cornsilk;
    }
    .review .review-slider .box h3{
        font-size: 35px;
        color:black;
        line-height:1.8;
    }
    .review .review-slider .box .stars i{
        font-size: 17px;
        color:rgb(88, 17, 239);
        padding:5px 0;
    }
    .review .review-slider .box:hover{
        outline:var(--outline-hover);
        outline-offset: 0rem;
    }
    .blogs .box-container {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
       /* margin-bottom:20px;*/
    }
    .blogs .box-container .box {
        background:whitesmoke;
        border-radius:5px;
        text-align:center;
        padding:30px 20px;
        outline-offset: -1rem;
        border: 10px solid cornsilk;
        outline:gray;
        gap: 1rem cornsilk;
    }














    @media (max-width:991px){
        html{
            font-size: 55%;
        }
        .header{
            padding:2rem;
        }
        section{
            padding:20px 90px;
        }
    }
    @media (max-width:768px){

        #menu-btn{
            display:inline-block;
        }
        .header .search-form{
            width:90%;
        }
        .header .search-form{
            width:90%;
        }
        .header .navbar{
            position: absolute;
            top:110%;
            right:-110%;
            width:30rem;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
            background-color: whitesmoke;
        }
        .header .navbar.active{
            right:2rem;
            transition: .4s linear;
        }
        .header .navbar a{
            font-size: 2rem;
            margin:2rem 2.5rem;
            display:block;
    }
    @media (max-width:450px){
        html{
            font-size: 50%;
        }
        heading{
            font-size:25px;
        }
    }
}
.container{
    max-width: 1170px;
    margin-left: 0%;
    margin-right: 0%;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.footer{
    background-color: black;
    padding:40px 0;
}
.column{
    width:20%;
    padding:0 15px;
    
}
iframe{
    width:400px;
    height:400px;
} 
.column h4{
    font-size: 18px;
    color:white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:5000;
    position:relative;
   text-decoration: underline; 
}

.column ul li:not(:last-child){
    margin-bottom:10px;
}
.column ul li a{
    font-size:16px;
    text-transform:capitalize;
    color:white;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
}
.column ul li a:hover{
    color:white;
    padding-left:8px; 
}
.column .social-links a{
    display:inline-block;
    height:40px;
    width:40px;
    background-color:rgba(255,255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition:all 0.5s ease;
}
.column .social-links a:hover{
    color:black;
    background-color:gold ;
}